
__pycache__/build.cpython-38.pyc
*.pyc
*.csv
skeletons/0.0-01_pre_mod_sps.skl
skeletons/0.0-02_pre_mod_norm.skl
skeletons/0.0-03_pre_mod_recip.skl
skeletons/0.0-04_pos_mod_comb.skl
skeletons/0.0-05_pos_bld_cont.skl
skeletons/0.0-06_pos_bld_dist.skl
skeletons/0.0-simwiz_include.inc
skeletons/new.01-01_pre_mod_sps.skl
skeletons/new.01-02_pre_mod_norm.skl
skeletons/new.01-03_pre_mod_recip.skl
skeletons/new.01-04_pre_mod_nsplit.skl
skeletons/new.01-05_pre_mod_rsplit.skl
skeletons/new.01-06_pos_mod_hfidt.skl
skeletons/new.01-07_pos_mod_lfidt.skl
skeletons/new.01-08_pos_mod_mrg.skl
skeletons/new.01-09_pos_bld_cont.skl
skeletons/new.01-10_pos_bld_dist.skl
skeletons/new.01-simwiz_include.inc
